/*please put your code into specified sections (SCROLL TO BOTTOM OF THE PAGE)*/
/*Tian start*/
:root {
  font-size: 20px;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 15px;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .top-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0 1fr;
    margin-bottom: 90px;
  }
  .optionButton {
    /* list-style-type: none;
    line-height: auto;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Playfair Display SC", serif;
    display: inline-block; */
    margin: 0 20px;
  }
  body {
    background: url("poster.jpg");
    background-size: cover;
  }
}

@media (min-width: 767px) {
  .top-row {
    display: grid;
    grid-template-columns: 1fr minmax(5px, 20px) minmax(200px, 2fr);
    grid-template-rows: auto;
    margin-bottom: 90px;
  }

  /* #clock-section {
  } */
}
#videoBG {
  position: fixed;
  z-index: -1;
}

.welcomePage {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Fredoka One", cursive;
  color: #fff;
  background: linear-gradient(
    -45deg,
    #d1bc01,
    #ee7752,
    #e73c7e,
    #0f7499,
    #00c99a
  );
  background-size: 500% 600%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcomePage {
  display: grid;
  grid-template-columns: 1fr minmax(0, 400px) 1fr;
  place-items: center;
}
.welcomeContentDiv {
  grid-column-start: 1;
  margin-top: 15%;
  margin-bottom: 30%;
  text-align: center;
}

#welcomePageText1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(216, 216, 216);

  font-family: "Fredoka One", cursive;
}

#welcomePageText2 {
  font-size: 3rem;
  text-align: center;
  color: rgb(216, 216, 216);
  /* font-family: "Caveat", cursive; */
  font-family: "Fredoka One", cursive;
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

body {
  font-family: helvetica, arial, sans-serif;
  /* background-color:  */
}

.welcomeContentDiv {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  /* letter-spacing: -3px; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.welcomeContentDiv:before,
.welcomeContentDiv:after {
  content: "";
  padding: 0.9em 0.4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.welcomeContentDiv:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.welcomeContentDiv:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

#loginText {
  margin-bottom: 20px;
  background-color: #3f3f3f;
  border: 5px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  color: white;
  font-family: "Nunito", sans-serif;
}

#loginBtnLogo {
  color: rgb(168, 29, 29);
}

#loginBtnLogo:hover {
  color: green;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#loginBtn {
  margin: auto;
  font-size: 5rem;
  font-family: "Nunito", sans-serif;
}
#loginBtn:hover {
  margin: auto;
  font-size: 5rem;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  margin: 60px auto;
  color: rgb(221, 221, 221);
  font-family: "Playfair Display SC", serif;
}
#weather_wrapper {
  min-width: 400px;
  margin: 30px;
  display: inline-block;
}
.weatherCard {
  /* width: 400px; */
  height: 200px;
  font-family: "Open Sans";
  position: relative;
}
.currentTemp {
  width: 220px;
  height: 200px;
  background: rgb(41, 41, 41);
  position: absolute;
  top: 0;
  left: 0;
}
.currentWeather {
  display: grid;
  place-items: center;
  width: 180px;
  height: 200px;
  background: rgb(237, 237, 237);
  margin: 0;

  top: 0;
  right: 0;
}
.temp {
  font-size: 80px;
  text-align: center;
  display: block;
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 20px 0 0;
}
.location {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  display: block;
}
.conditions {
  font-family: weathericons;
  font-size: 80px;
  display: block;
  padding: 20px 0 0;
  text-align: center;
}
.ExtraInfo {
  width: 180px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(42, 178, 234);
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
}
.minTemp {
  width: 50%;
  position: absolute;
  left: 10px;
  word-spacing: 60px;
  top: 3px;
}
/* .minTemp::before {
  display: block;

  font-size: 40px;
  left: 6px;
  top: -4px;
  position: absolute;
} */
.maxTemp {
  width: 50%;
  right: -10px;
  position: absolute;
  word-spacing: 60px;
  top: 3px;
}
/* .maxTemp::before {
  display: block;

  font-size: 25px;
  left: -10px;
  position: absolute;
  top: 5px;
} */

.content-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 40px 0 60px 0;
  color: white;
}

.optionButton {
  list-style-type: none;
  line-height: auto;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  display: inline-block;
  margin: 0 50px;
}

.button-row {
  margin: 50px 0 0 0;
  border: 3px solid white;
  display: grid;
  padding: 20px;
}
.aaa {
  margin-top: 20px;
  text-align: center;
  font-size: 5rem;
}
.buttonList {
  margin: 10px;
}
#buttons {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

#timer {
  margin: 20px 10px 0 0;
}
#timer,
#days,
#hours,
#minutes,
#seconds {
  font-family: "Playfair Display SC", serif;
  display: inline-block;
  line-height: 20px;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 5px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 2rem;
  color: white;
  margin-left: 20px;
}
#hours {
  font-size: 2rem;
  color: white;
}
#minutes {
  font-size: 2rem;
  color: white;
}
#seconds {
  font-size: 2rem;
  color: white;
}

#appPage {
  background: none;
}

/*button section start*/

/* ul .buttons {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
} */

ul li a {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  text-align: center;
  /* line-height: 63px; */
  background: black;
  border-radius: 50%;
  /* font-size: 30px; */
  color: #666;
  transition: 0.5s;
}

ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
  color: white;
}

.onClickOption {
  color: white;
  background: none;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
  background: white;
  color: white;
}

ul li a:hover {
  color: white;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white;
}

/*button section end*/

.sections {
  margin-top: 80px;
}
/*map section start*/
#map {
  height: 95vh;
}

#trafficSection {
  height: auto;
}
/*map section end*/
/*new section start*/
#newsIframe {
  height: 100%;
  width: 100%;
}

#news {
  border: 2px solid white;
  margin-top: 90px;
  height: 100vh;
  text-align: center;
}
#newsDiv {
  margin-top: 40px;
  height: 100vh;
  text-align: center;
}
/*new section end*/

/*for sections start*/
#exerciseSection {
  overflow: scroll;
}

.closeBtn {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: block;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 800;
}

.closeBtn:hover {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: block;
  margin-bottom: 15px;
  background: white;
  border: 1px solid white;
  color: black;
  font-weight: 800;
}
/*for sections end*/

/*Tian end*/

/*Kervin start*/
/*Kervin end*/
/*Piotr start*/
object {
  height: 90vh;
  width: 100%;
}
/*Piotr end*/
/*Firoz start*/
/*Firoz end*/

/*Jayson start //////////////////////////////*/
.sections {
  padding: 0px;
}

#timerSection {
  color: white;
  display: block !important;
  height: 100%;
}

.settings {
  width: 60%;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Orbitron", sans-serif;
  border: 3px solid white;
  padding: 20px;
  height: auto;
  margin: auto;
}

.settings {
  width: 100%;
  font-family: "Orbitron", sans-serif;
  color: white;
  margin: auto;
  height: auto;
}

.settings p,
span {
  text-align: center;
  font-size: 25px;
  color: white;
}

.settings button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.settings button:hover {
  background-color: green;
  box-shadow: 0 0 20px white;
  text-shadow: 0 0 5px white;
  border-color: white;
  border: 1px solid white;
}

.clock {
  font-family: "Orbitron", sans-serif;
  border-radius: 50%;
  border: solid 2px white;
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#break-text {
  font-size: 40px;
  margin-top: 90px;
  visibility: hidden;
}

#time-display {
  font-size: 80px;
  margin-bottom: 0px;
}

#puzzleSection {
  margin: 0;
  padding: 0;
}

.newton-cradle {
  width: 110px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.controls {
  font-family: "Orbitron", sans-serif;
  height: 180px;
  margin-top: 10px;
  padding-top: 30px;
  height: auto;
  font-size: 25px;
}

.controls button {
  margin: 20px;
  width: 180px;
  height: 80px;
  outline: none;
  background: none;
  color: white;
}

.controls button:hover {
  /* background-color: #aef; */
  color: #ffee10;
  box-shadow: 0 0 10px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  border-color: #ffee10;
  background-color: green;
  box-shadow: 0 0 10px white;
  text-shadow: 0 0 5px white;
  font-size: 35px;
  border: 5px solid white;
}

.cord {
  padding-top: 45px;
  width: 15px;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  float: left;
}

.ball {
  background: #aef;
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 50%;
}

.leftMove {
  animation: leftBall 0.5s ease-in-out 0s infinite alternate;
}
.rightMove {
  animation: rightBall 0.5s ease-in-out 0s infinite alternate;
}

@keyframes leftBall {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  /*this pauses the ball at the begining*/
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  100% {
    transform: rotate(50deg) translateY(-20px);
  }
}

@keyframes rightBall {
  0% {
    transform: rotate(-50deg) translateY(-20px);
  }
  /*this pauses the ball at the begining*/
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  100% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

@media (max-width: 767px) {
  .clock {
    width: 350px;
    height: 350px;
    margin: auto;
  }
  #break-text {
    margin-top: 50px;
  }
  .newton-cradle {
    margin-top: 10px;
  }
}


/*Jayson end*/
